{{ define "main" }}

{{ $catFile := add "subcategories/" .File.LogicalName }}
{{ $pcat := .Params.parent_category }}

<div class="section">
    <div class="banner-image taxonomy center" 
    {{ with .Params.main_image }}
        {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
        {{ $resized := $imageResource.Fill "1400x400 q70 center" }}
        style="background-image:url({{ $resized.RelPermalink }})"
    {{ end }}>
        <div class="slide-content page">
            <h1 class="banner-image-heading">All {{ .Title }}</h1> 
            <p>{{ .Description }}</p>         
        </div>
    </div>
</div>
<div class="section">
    <div class="flex-row">
        <div class="column-left sidebar">
            {{ range $.Site.RegularPages }}
                {{ $f := add "categories/" .File.LogicalName }}
                {{ if eq $f $pcat }}
                <div class="category-item-outer">
                    <a href="{{ .RelPermalink }}" class="category-item" style="background-color: #333; padding: 20px">
                        <p style="margin: 0px; z-index: 1;">Back to {{ .Title }}</p>
                        <div class="image-overlay"></div>
                    </a>
                </div>
                {{ end }}
            {{ end }}
            {{ range $.Site.RegularPages }}
                {{ if eq .Params.parent_category $catFile }}
                <div class="category-item-outer">
                    <a href="{{ .RelPermalink }}" class="category-item w-inline-block" 
                    {{ with .Params.main_image }}
                        {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
                        {{ $resized := $imageResource.Fill "700x400 q80 center" }}
                        style="background-image:url({{ $resized.RelPermalink }})"
                    {{ end }}>
                    <div class="image-overlay"></div>
                    <p style="z-index: 1">{{ .Title }}</p>
                    </a>
                </div>
                {{ end }}
            {{ end }}
        </div>
        <div class="column-right p-grid">
            <div class="product-grid-wrap w-dyn-items" style="width: 100%">
            {{ range $.Site.RegularPages }}
                {{ if eq .Params.categories_and_tags.subcategory $catFile }}
                    {{ partial "product-grid-item.html" . }}
                {{ end }}
            {{ end }}
            </div>
        </div>
    </div>
</div>

{{ end }}