{{ partial "header.html" . }}

{{ range .Params.Blocks }}
    {{ if eq .template "banner-image" }}
        {{ partial "blocks/banner-image.html" . }}
    {{ end }}
    {{ if eq .template "2-column-content" }}
        {{ partial "blocks/2-column-content.html" . }}
    {{ end }}
    {{ if eq .template "gallery"}}
        {{ partial "blocks/gallery.html" . }}
    {{ end }}
    {{ if eq .template "1-column-content" }}
        {{ partial "blocks/1-column-content.html" . }}
    {{ end }}
    {{ if eq .template "product-grid" }}
        <div class="main-section page">
            <div class="container">
                {{ if .heading }}<h1 class="gallery-heading">{{ .heading }}</h1>{{ end }}
                <div class="w-dyn-list">
                    <div class="product-grid-wrap page w-dyn-items">
                        {{ range .products }}
                        {{ $1 := replace . ".md" "/" }}
                        {{ $2 := replace $1 "products/" "/products/" }}
                            {{ range $.Site.RegularPages }}
                                {{ if eq .RelPermalink $2 }}
                                    {{ partial "product-grid-item.html" . }}
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div> 
        </div>       
    {{ end }}
{{ end }}

{{ partial "footer.html" . }}