{{ partial "header.html" . }}
<div class="main-section">
    <div class="container grid">
        <div class="breadcrumbs-wrap">
            <div class="breadcrumbs">
                {{ if eq .Params.List_All true }}
                <a href="{{ .RelPermalink }}"><strong>{{ .Params.Name }}</strong></a>
                {{ else }}
                <a href="/{{.Section | urlize }}">{{ .Section | title }}</a> /
                <a href="{{ .RelPermalink }}"><strong>{{ .Params.Name }}</strong></a>                
                {{ end }}
            </div>
        </div>
        <div class="w-dyn-list">
            <div class="product-grid-wrap w-dyn-items">
                {{ if eq .Params.List_All true }}
                    {{ range where .Site.RegularPages "Section" "products" }}
                    {{ $price := .Params.price }}
                        <div class="grid-item w-dyn-item">
                            <a href="{{ .RelPermalink }}" class="grid-link w-inline-block">
                                <div style="background-image:url({{ .Params.main_image }})"
                                    class="grid-photo-main">
                                    <div style="background-image:url({{ .Params.hover_image }})"
                                        class="grid-photo-hover"></div>
                                </div>
                                <div class="grid-content">
                                    <h1 class="grid-title">{{ .Title }}</h1>
                                    <div class="price-text">$ </div>
                                    {{ if $price}}<div class="price-text">{{ lang.NumFmt 2 $price }}</div>{{ end }}
                                </div>
                            </a>
                        </div>
                    {{ end }}
                {{ else }}
                    {{ range .Data.Pages }}
                    {{ $price := .Params.price }}
                    <div class="grid-item w-dyn-item">
                        <a href="{{ .RelPermalink }}" class="grid-link w-inline-block">
                            <div style="background-image:url({{ .Params.main_image }})"
                                class="grid-photo-main">
                                <div style="background-image:url({{ .Params.hover_image }})"
                                    class="grid-photo-hover"></div>
                            </div>
                            <div class="grid-content">
                                <h1 class="grid-title">{{ .Title }}</h1>
                                <div class="price-text">$ </div>
                                {{ if $price }}<div class="price-text">{{ lang.NumFmt 2 $price }}</div>{{ end }}
                            </div>
                        </a>
                    </div>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}