{{ partial "header.html" . }}

<div 
    {{ with .Params.Main_Image }}
        {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
        {{ $resized := $imageResource.Fit "1400x500 q80" }}
        style="background-image:url({{ $resized.RelPermalink }})"
    {{ end }}
    class="section blog-single">
    <div class="image-overlay"></div>
    <div class="container center-page blog-heading">
        <div class="text-block-6">
            <a href="/{{ .Section }}" class="link">Return to blog</a>
        </div>
        <h1 class="heading-5">{{ .Title }}</h1>
        {{ if .Params.Author }}<div class="text-block-5">by {{ .Params.Author }}</div>{{ end }}
        <div class="text-block-5">{{ .Date.Format "January 02, 2006"}}</div>
    </div>
</div>
<div class="main-section page">
    <div class="container center-page">
        <div class="blog-single-content w-richtext">{{ .Content }}</div>
        {{ if .Params.featured_product }}
        {{ $p := replace .Params.featured_product ".md" "/" }}
        {{ $p2 := replace $p "products/" "/products/" }}
            {{ range where .Site.Pages "Section" "products" }}
                {{ if eq .RelPermalink $p2 }}
                <h1 class="related-products-heading blog">Featured Product</h1>
                <div class="w-dyn-list">
                    <div class="w-dyn-items">
                        <div class="featured-product-wrap w-dyn-item">
                            <div 
                                {{ with .Params.main_image }}
                                    {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
                                    {{ $resized := $imageResource.Fill "400x250 q80 center" }}
                                    style="background-image:url({{ $resized.RelPermalink }})" 
                                {{ end }}
                                class="blog-product-image"></div>
                            <div class="blog-product-content">
                                <h1 class="heading-6">{{ .Title }}</h1>
                                <div class="price-single-page {{ if .Params.sale_price }}sale{{ end }}">${{ lang.NumFmt 2 .Params.price }}</div>
                                {{ if .Params.sale_price }}<div class="price-single-page">${{ lang.NumFmt 2 .Params.sale_price }}</div>{{ end }}
                                <p>It&#x27;s a super comfy sweater.</p>
                                <a href="{{ .RelPermalink }}" class="add-to-cart w-button">Purchase Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            {{ end }}
        {{ end }}
    </div>
</div>

{{ partial "footer.html" . }}