<footer class="footer">
    <div class="container">
      <div class="flex-row">
        <div class="footer-column">
          <div class="footer-heading">Links:</div>
          <div class="footer-section">
            {{ range .Site.Menus.footer }}
            <a href="{{ .URL }}" class="footer-link w-inline-block {{ .Pre }}">
              <div>{{ .Name }}</div>
            </a>
            {{ end }}
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-heading">Contact Us:</div>
          <div class="footer-section">
            <a href="tel:{{ $.Site.Data.settings.contact_info.phone }}" class="footer-link w-inline-block">
              <div>{{ $.Site.Data.settings.contact_info.phone }}</div>
            </a>
            <a href="mailto:{{ $.Site.Data.settings.contact_info.email }}" class="footer-link w-inline-block">
              <div>{{ $.Site.Data.settings.contact_info.email }}</div>
            </a>
            <div class="footer-link w-inline-block">
              <br/><b>{{ $.Site.Data.settings.contact_info.company_name }}</b><br/>
              {{ if $.Site.Data.settings.contact_info.street_address }}{{ $.Site.Data.settings.contact_info.street_address }}<br/>{{ end }}
              {{ $.Site.Data.settings.contact_info.city }}, {{ $.Site.Data.settings.contact_info.state }}{{ if $.Site.Data.settings.contact_info.zip_code }}, {{ $.Site.Data.settings.contact_info.zip_code }}{{ end }}
            </div>
          </div>
        </div>
        <div class="footer-column social">
          <div class="footer-heading">Social Media</div>
          <div class="social-link-wrap">
            {{ range $.Site.Data.settings.social_media }}
            <a href="{{ .URL }}" target="_blank" class="social-link w-inline-block">
              <i class="fab fa-{{ .Icon | lower }}"></i>
            </a>
            {{ end }}
          </div><a href="#" class="about-wrap w-inline-block"></a></div>
      </div>
      <div class="copyright-bar">
        <div>&copy;	{{ now.Year }} Black Billion Clothing &nbsp;|&nbsp; <a href="https://www.modiimedia.com" target="_blank" class="credit-link">Website by <strong xmlns="http://www.w3.org/1999/xhtml">Modii</strong></a></div>
      </div>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="ZjVjNjQzZTAtZThjNi00NDAzLTk1ZDctNTZiZGRmOWY4MWQ1NjM2NjExNTgwNzYwOTY5NTU0"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/js/black-billion.js" type="text/javascript"></script>
  {{ if .Params.Sizes }}
  <script>
      $('#quantity').change(function() {
          $('#checkoutButton').attr('data-item-quantity', $(this).val());
      });
      $('#Size').change(function(){
          $('#checkoutButton').attr('data-item-custom1-value', $(this).val());
      });
      
      {{ if .Params.Variations }}
        {{ range $i, $e := .Params.Variations }}
          {{ $num := add $i 2 }}
          $('#{{ .variant_name | urlize }}').change(function() {
              $('#checkoutButton').attr('data-item-custom{{ $num }}-value', $(this).val());
          });
        {{ end }}
      {{ end }}
  
  </script>
  {{ end }}
</body>
</html>