{{ partial "head.html" . }}

<header class="nav-wrapper">
  <div class="announcement-bar">
    <div class="container">
      <a href="#" class="announcement-content w-inline-block">
        <div>Free shipping on all t-shirts and hats until June 15th</div>
      </a>
    </div>
  </div>
  <div class="logo-section">
    <div class="container">
      <div class="logo-block">
        <a href="#" data-w-id="08166f4c-9b0d-891e-e135-4c282c39b5ae" class="mobile-icon w-inline-block">
          <div></div>
        </a>
        <a href="/" class="logo w-inline-block w--current">
          <div class="logo-text">Black</div>
          <img src="http://uploads.webflow.com/5ad0111263a6e8d7f3630b1e/5ad0ec9ed923b9449fc5408c_black%20billion%20logo%20transparent%20background.png"
            width="251" srcset="http://uploads.webflow.com/5ad0111263a6e8d7f3630b1e/5ad0ec9ed923b9449fc5408c_black%20billion%20logo%20transparent%20background-p-500.png 500w, http://uploads.webflow.com/5ad0111263a6e8d7f3630b1e/5ad0ec9ed923b9449fc5408c_black%20billion%20logo%20transparent%20background-p-800.png 800w, http://uploads.webflow.com/5ad0111263a6e8d7f3630b1e/5ad0ec9ed923b9449fc5408c_black%20billion%20logo%20transparent%20background-p-1080.png 1080w, http://uploads.webflow.com/5ad0111263a6e8d7f3630b1e/5ad0ec9ed923b9449fc5408c_black%20billion%20logo%20transparent%20background-p-1600.png 1600w, http://uploads.webflow.com/5ad0111263a6e8d7f3630b1e/5ad0ec9ed923b9449fc5408c_black%20billion%20logo%20transparent%20background.png 2141w"
            sizes="(max-width: 767px) 100vw, 251px" class="image" />
          <img src="http://uploads.webflow.com/5ad0111263a6e8d7f3630b1e/5ad17a8f3265e9535f43980d_black%20billion%20logo%20transparent%20background%20white.png"
            width="251" srcset="http://uploads.webflow.com/5ad0111263a6e8d7f3630b1e/5ad17a8f3265e9535f43980d_black%20billion%20logo%20transparent%20background%20white-p-500.png 500w, http://uploads.webflow.com/5ad0111263a6e8d7f3630b1e/5ad17a8f3265e9535f43980d_black%20billion%20logo%20transparent%20background%20white-p-800.png 800w, http://uploads.webflow.com/5ad0111263a6e8d7f3630b1e/5ad17a8f3265e9535f43980d_black%20billion%20logo%20transparent%20background%20white-p-1080.png 1080w, http://uploads.webflow.com/5ad0111263a6e8d7f3630b1e/5ad17a8f3265e9535f43980d_black%20billion%20logo%20transparent%20background%20white-p-1600.png 1600w, http://uploads.webflow.com/5ad0111263a6e8d7f3630b1e/5ad17a8f3265e9535f43980d_black%20billion%20logo%20transparent%20background%20white-p-2000.png 2000w, http://uploads.webflow.com/5ad0111263a6e8d7f3630b1e/5ad17a8f3265e9535f43980d_black%20billion%20logo%20transparent%20background%20white.png 2141w"
            sizes="(max-width: 479px) 42vw, (max-width: 767px) 31vw, 100vw" class="image-mobile" />
          <div class="logo-text">Billion</div>
        </a>
        <div class="unused-styles">
          <a href="#" class="sign-in w-inline-block"></a>
          <a href="#" class="nav-link cart snipcart-checkout w-inline-block"></a>
          <a href="#" class="cart-icon w-inline-block"></a>
          <a href="#" class="cart-number w-inline-block"></a>
        </div>
        <div class="mobile-icon w-embed">
          <a href="#" class="snipcart-checkout" style="color: white">
            
            <div class="cart-number snipcart-summary">
              <span class="snipcart-total-items"></span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-block">
    <div class="container">
      <div class="nav-wrap">
        <div class="about-wrap"></div>
        <div class="main-nav">
          <a href="/" class="nav-link w-inline-block w--current">
            <div>Home</div>
          </a>
          <a href="/all" class="nav-link focus w-inline-block">
            <div class="text-block">All Products</div>
          </a>
          <a href="/category/tops" class="nav-link w-inline-block">
            <div class="text-block">Tops</div>
          </a>
          <a href="#" class="nav-link w-inline-block">
            <div class="text-block">Hats</div>
          </a>
          <a href="/category/accessories" class="nav-link w-inline-block">
            <div class="text-block">Accessories</div>
          </a>
          <div class="nav-link dropdown">
            <div class="dropdown-text">Explore --</div>
            <div class="dropdown-menu">
              <a href="/about" class="nav-link w-inline-block">
                <div>About Us</div>
              </a>
              <a href="/news" class="nav-link w-inline-block">
                <div>Blog</div>
              </a>
              <a href="/faqs" class="nav-link w-inline-block">
                <div>FAQ / Help</div>
              </a>
            </div>
          </div>
        </div>
        <div class="cart-section">
          <div class="html-embed w-embed">
            <div href="#" class="nav-link w-inline-block dropdown">
              <a href="#" class="dropdown-text w-inline-block snipcart-user-profile">
                <span class="snipcart-user-email">Login</span>
              </a>
              <div class="dropdown-menu">
                <a href="#" class="nav-link w-inline-block snipcart-user-profile">View Orders</a>
                <a href="#" class="nav-link w-inline-block snipcart-edit-profile">Edit Profile</a>
                <a href="#" class="nav-link w-inline-block snipcart-user-logout">Logout</a>
              </div>
            </div>
          </div>
          <div class="html-embed w-embed">
            <a href="#" class="nav-link cart snipcart-checkout w-inline-block">
              <span class="cart-icon"></span>
              <div class="cart-number snipcart-summary">
                &nbsp;
                <span class="snipcart-total-items"></span> Items
              </div>
            </a>
          </div>
        </div>
        <div class="cart-login-wrap">
          <a href="#" class="nav-link w-inline-block">
            <div>(0) Cart</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-menu-wrap">
    <div data-w-id="2a437da8-ee1d-f90f-6838-8779e626cc43" class="mobile-nav">
      <div class="mobile-login">
        <div class="login-link w-embed">
          <a href="#" class="snipcart-user-profile sign-in">
            <span class="snipcart-user-email">Login</span>
          </a>
        </div>
        <div class="login-link w-embed">
          <a href="#" class="snipcart-user-logout sign-in">
            <span>Logout</span>
          </a>
        </div>
      </div>
      <div class="mobile-menu-header">
        <a href="#" data-w-id="4b854a90-c939-d001-740f-827a35fe3f89" class="close-mobile-icon w-inline-block">
          <div></div>
        </a>
        <a href="/" class="mobile-logo w-inline-block w--current">
          <img src="http://uploads.webflow.com/5ad0111263a6e8d7f3630b1e/5ad17a8f3265e9535f43980d_black%20billion%20logo%20transparent%20background%20white.png"
            width="347" srcset="http://uploads.webflow.com/5ad0111263a6e8d7f3630b1e/5ad17a8f3265e9535f43980d_black%20billion%20logo%20transparent%20background%20white-p-500.png 500w, http://uploads.webflow.com/5ad0111263a6e8d7f3630b1e/5ad17a8f3265e9535f43980d_black%20billion%20logo%20transparent%20background%20white-p-800.png 800w, http://uploads.webflow.com/5ad0111263a6e8d7f3630b1e/5ad17a8f3265e9535f43980d_black%20billion%20logo%20transparent%20background%20white-p-1080.png 1080w, http://uploads.webflow.com/5ad0111263a6e8d7f3630b1e/5ad17a8f3265e9535f43980d_black%20billion%20logo%20transparent%20background%20white-p-1600.png 1600w, http://uploads.webflow.com/5ad0111263a6e8d7f3630b1e/5ad17a8f3265e9535f43980d_black%20billion%20logo%20transparent%20background%20white-p-2000.png 2000w, http://uploads.webflow.com/5ad0111263a6e8d7f3630b1e/5ad17a8f3265e9535f43980d_black%20billion%20logo%20transparent%20background%20white.png 2141w"
            sizes="100vw" />
        </a>
        <div class="mobile-icon w-embed">
          <a href="#" class="snipcart-checkout" style="color: white">
            
            <div class="cart-number snipcart-summary">
              <span class="snipcart-total-items"></span>
            </div>
          </a>
        </div>
      </div>
      <div class="nav-menu-wrap">
        <div class="m-nav">
          <a href="/" class="nav-link w-inline-block w--current">
            <div>Home</div>
          </a>
          <div class="nav-link dropdown">
            <div class="dropdown-text">Explore ^</div>
            <div class="dropdown-menu">
              <a href="/about" class="nav-link w-inline-block">
                <div>Who We Are</div>
              </a>
              <a href="/about" class="nav-link w-inline-block">
                <div>News &amp; Annoucements</div>
              </a>
            </div>
          </div>
          <a href="/all" class="nav-link w-inline-block">
            <div>All Products</div>
          </a>
          <a href="/category/tops" class="nav-link w-inline-block">
            <div>Tops</div>
          </a>
          <a class="nav-link w-inline-block">
            <div>Bottoms</div>
          </a>
          <a href="/category/accessories" class="nav-link w-inline-block">
            <div>Accessories</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>