{{ partial "head.html" . }}

<header class="nav-wrapper">
  {{ partial "annoucement-bar.html" . }}
  <div class="logo-section">
    <div class="container">
      <div class="logo-block">
        <a href="#" data-w-id="08166f4c-9b0d-891e-e135-4c282c39b5ae" class="mobile-icon w-inline-block">
          <div></div>
        </a>
        <a href="/" class="logo w-inline-block w--current">
          <div class="logo-text">Black</div>
          {{ with $.Site.Data.settings.general.logo_dark }}
            {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
            {{ $resized := $imageResource.Fit "250x500 q80 center" }}
            <img src="{{ $resized.RelPermalink }}"
              width="251" sizes="(max-width: 767px) 100vw, 251px" class="image" />
          {{ end }}
          {{ with $.Site.Data.settings.general.logo_white }}
            {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
            {{ $resized := $imageResource.Fit "200x300 q80 center" }}
            <img src="{{ $.Site.Data.settings.general.logo_white }}" width="251"
            sizes="(max-width: 479px) 42vw, (max-width: 767px) 31vw, 100vw" class="image-mobile" />
          {{ end }}
          <div class="logo-text">Billion</div>
        </a>
        <div class="unused-styles">
          <a href="#" class="sign-in w-inline-block"></a>
          <a href="#" class="nav-link cart snipcart-checkout w-inline-block"></a>
          <a href="#" class="cart-icon w-inline-block"></a>
          <a href="#" class="cart-number w-inline-block"></a>
        </div>
        <div class="mobile-icon w-embed">
          <a href="#" class="snipcart-checkout" style="color: white">
            
            <div class="cart-number snipcart-summary">
              <span class="snipcart-total-items"></span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  {{ partial "desktop-nav.html" . }}
  {{ partial "mobile-nav.html" . }}
</header>