<div class="main-section page">
    <div class="container">
        <div class="flex-row">
            <div class="column-left flex">
                {{ if eq .column_order "Image First" }}
                    {{ if eq .column_height "Image Priority" }}
                        <img src="{{ .image }}" width="1000px" />
                    {{ else }}
                        <div class="column-image" style="background-image:URL({{ .image }})"></div>
                    {{ end }}
                {{ else }}
                    <div class="rich-text-page w-richtext">
                        {{ .content | markdownify }}
                    </div>
                {{ end }}
            </div>
            <div class="column-right flex">
                {{ if eq .column_order "Image First"}}
                    <div class="rich-text-page w-richtext">
                        {{ .content | markdownify }}
                    </div>
                {{ else }}
                    {{ if eq .column_height "Image Priority" }}
                        <img src="{{ .image }}" width="1000px" />
                    {{ else }}
                        <div class="column-image" style="background-image:URL({{ .image }})"></div>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</div>