{{ $doc := replace .button.internal_link "/_index.md" "" }}
{{ $hi := .button.internal_link }}
{{ $alignC := .formatting.align_container }}
<div class="section">
    <div class="banner-image" 
    style="background-image:URL({{ .image }}); text-align: {{ .formatting.align_text }};
    {{ if eq $alignC "left" }}justify-content: flex-start{{end}}
    {{ if eq $alignC "center" }}justify-content: center{{end}}
    {{ if eq $alignC "right" }}justify-content: flex-end{{end}}">
        <div class="slide-content page">
            <h1 class="banner-image-heading">{{ .heading }}</h1>
            <p>{{ if .text }}{{ .text | markdownify }}{{ end }}</p>
            {{ $text := .button.button_text }}
            {{ $tab := .button.open_in_new_tab }}
            {{ if ne .button.hide_button true }}
                {{ if eq .button.link_settings "Internal Page Link" }}
                    {{ range $.Site.AllPages }}
                        {{ $hi }}{{ .File.FileBaseName }}
                            <a href="#"
                                {{ if eq $tab true }} target="_blank" {{ end }}
                                class="hero-button w-button">{{ $text }}
                            </a>
                        {{ end }}
                {{ else }}
                    <a href="{{ .button.external_link }}"
                        {{ if eq .button.open_in_new_tab true }} target="_blank" {{ end }}
                        class="hero-button w-button">{{ .button.button_text }}
                    </a>
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>