<div class="main-section page">
    <div class="container">
      {{ if .heading }}<h1 class="gallery-heading">{{ .heading }}</h1>{{ end }}
      <div class="flex-row gallery"
      {{ if eq .align_grid "right" }}style="justify-content: flex-end"{{ end }}{{ if eq .align_grid "center" }}style="justify-content: center"{{ end }}>
        {{ $gallery := .gallery_name }}
        {{ $row := .photos_per_row }}
        {{ range .images }}
        <a href="#" class="gallery-thumbnail w-lightbox {{ $row }}">
          <div class="gallery-thumbnail-inner" style="background-image:URL({{ . }})"></div>
          <script type="application/json" class="w-json">
            {
              "items": [{
                "type": "image",
                "_id": "{{ . }}",
                "origFileName": "{{ . }}",
                "url": "{{ . }}"
              }],
              "group": "{{ $gallery }}"
            }
          </script>
        </a>
        {{ end }}
      </div>
    </div>
  </div>