{{ partial "header.html" . }}
<div class="main-section">
    <div class="container grid">
        <div class="breadcrumbs-wrap">
            <div class="breadcrumbs">
                <a href="/products">All Products</a> /
                <a href="{{ .RelPermalink }}"><strong>{{ .Name }}</strong></a>
            </div>
        </div>
        <div class="w-dyn-list">
            <div class="product-grid-wrap w-dyn-items">
                {{ range .Data.Pages }}
                    {{ $n := .Name | lower }}
                    {{ $link := .RelPermalink }}
                    {{ range $.Site.Data.product_categories.category_metadata }}
                        {{ $m := .name | lower }}
                        {{ if eq $n $m }}
                            <div class="grid-item w-dyn-item">
                                <a href="{{ $link }}" class="grid-link w-inline-block">
                                    <div style="background-image:url({{ .image }}); color: white; min-height: 0px; padding-top: 100%; background-color: #333;" class="grid-photo-main">
                                        <div class="grid-content" style="position: absolute; z-index: 1; top: 0; bottom: 0; left: 0; right: 0; display: flex; justify-content: center; align-items: center">
                                            <h1>{{ .name | title }}</h1>
                                        </div>
                                        <div class="image-overlay"></div>
                                    </div>
                                </a>
                            </div>
                        {{ end }}
                    {{ end }}
                    {{ range $.Site.Data.product_categories.gender_metadata }}
                        {{ $m := .name | lower }}
                            {{ if eq $n $m }}
                                <div class="grid-item w-dyn-item">
                                    <a href="{{ $link }}" class="grid-link w-inline-block">
                                        <div style="background-image:url({{ .image }}); color: white; min-height: 0px; padding-top: 100%; background-color: #333;" class="grid-photo-main">
                                            <div class="grid-content" style="position: absolute; z-index: 1; top: 0; bottom: 0; left: 0; right: 0; display: flex; justify-content: center; align-items: center">
                                                <h1>{{ .name | title }}</h1>
                                            </div>
                                            <div class="image-overlay"></div>
                                        </div>
                                    </a>
                                </div>
                            {{ end }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}