{{ partial "header.html" . }}
{{ $n := .Name | lower }}
{{ range .Site.Data.product_categories.category_metadata }}
    {{ if eq .name $n }}
        <div class="section">
            <div class="banner-image taxonomy center" style="background-image:URL({{ .image }})">
                <div class="slide-content page">
                    <h1 class="banner-image-heading">All {{ .name | title }}</h1>
                    <p>{{ .description }}</p>         
                </div>
            </div>
        </div>
    {{ end }}
{{ end }}
{{ range .Site.Data.product_categories.gender_metadata }}
    {{ if eq .name $n }}
        <div class="section">
            <div class="banner-image taxonomy center" style="background-image:URL({{ .image }})">
                <div class="slide-content page">
                    <h1 class="banner-image-heading">All {{ .name | title }}</h1>
                    <p>{{ .description }}</p>         
                </div>
            </div>
        </div>
    {{ end }}
{{ end }}
<div class="main-section">
    <div class="container grid">
        <div class="breadcrumbs-wrap">
            <div class="breadcrumbs">
                <a href="/products">All Products</a> /
                <a href="/{{.Section | urlize }}">{{ .Section | title }}</a> /
                <a href="{{ .RelPermalink }}"><strong>{{ .Name }}</strong></a>
            </div>
        </div>
        <div class="w-dyn-list">
            <div class="product-grid-wrap w-dyn-items">
                {{ range .Data.Pages }}
                {{ $price := .Params.price }}
                    <div class="grid-item w-dyn-item">
                        <a href="{{ .RelPermalink }}" class="grid-link w-inline-block">
                            <div style="background-image:url({{ .Params.main_image }})"
                                class="grid-photo-main">
                                <div style="background-image:url({{ .Params.hover_image }})"
                                    class="grid-photo-hover"></div>
                            </div>
                            <div class="grid-content">
                                <h1 class="grid-title">{{ .Title }}</h1>
                                <div class="price-text">$ </div>
                                {{ if $price }}<div class="price-text">{{ lang.NumFmt 2 $price }}</div>{{ end }}
                            </div>
                        </a>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}