{{ partial "header.html" . }}
{{ $f := .Params.Categories_and_tags.Category }}
<div class="main-section">
    <div class="container">
        <div class="breadcrumbs-wrap">
            <div class="breadcrumbs">
                <a href="/products">All Products</a> / 
                <!--<a href="/gender/"></a> /-->
                {{ if $f }}
                    {{ range .Site.RegularPages }}
                        {{ $file := add "categories/" .File.LogicalName }}
                        {{ if eq $f $file }}
                        <a href="{{ .RelPermalink }}">
                            {{ .Title }}
                        </a> /
                        {{ end }}
                    {{ end }}
                {{ end }} 
                <strong>{{ .Title }}</strong>
            </div>
        </div>
        <div class="row w-row">
            <div class="column-left w-col w-col-6">
                <div data-duration-in="300" data-duration-out="300" class="tabs w-tabs">
                    <div class="tabs-content w-tab-content">
                        {{ if .Params.photos.product_gallery }}
                            {{ range .Params.photos.product_gallery }}
                                {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
                                {{ $resized := $imageResource.Fit "600x2000 q80" }}
                                {{ $resizedB := $imageResource.Fit "1200x800 q80" }}
                                <div data-w-tab="{{ . }}" class="tab-pane-2 w-tab-pane">
                                    <img src="{{ $resized.RelPermalink }}" sizes="(max-width: 767px) 92vw, (max-width: 991px) 45vw, 36vw" class="image-3" />
                                    <a href="#" class="lightbox-link w-inline-block w-lightbox">
                                        <div></div>
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "type": "image",
                                                    "_id": "{{ . }}",
                                                    "origFileName": "{{ . }}",
                                                    "url": "{{ $resizedB.RelPermalink }}"
                                                }],
                                                "group": "productGallery"
                                            }
                                        </script>
                                    </a>
                                </div>
                            {{ end }}
                        {{ else }}
                            {{ with .Params.photos.Main_Image }}
                            {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
                            {{ $resized := $imageResource.Fit "700x2000 q80" }}
                            {{ $resizedB := $imageResource.Fit "1200x800 q80" }}
                            <div data-w-tab="tab-1" class="tab-pane-2 w-tab-pane">
                                <img src="{{ $resized.RelPermalink }}" sizes="(max-width: 767px) 92vw, (max-width: 991px) 45vw, 36vw" class="image-3" />
                                <a href="#" class="lightbox-link w-inline-block w-lightbox">
                                    <div></div>
                                    <script type="application/json" class="w-json">
                                        {
                                            "items": [{
                                                "type": "image",
                                                "_id": "{{ . }}",
                                                "origFileName": "{{ . }}",
                                                "url": "{{ $resizedB.RelPermalink }}"
                                            }],
                                            "group": "productGallery"
                                        }
                                    </script>
                                </a>
                            </div>
                            {{ end }}
                        {{ end }}
                    </div>
                    {{ $l := len .Params.photos.product_gallery }}
                    {{ if .Params.photos.product_gallery  }}
                        {{ if ge $l 2 }}
                            <div class="tabs-menu w-tab-menu">
                                    {{ range first 1 .Params.photos.product_gallery }}
                                    {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
                                    {{ $resized := $imageResource.Fill "80x80 q80" }}
                                    <a data-w-tab="{{ . }}" style="background-image:url({{ $resized.RelPermalink }})" class="tab-link w-inline-block w-tab-link w--current">
                                        <div class="gallery-thumb-overlay"></div>
                                    </a>
                                    {{ end }} 
                                    {{ range after 1 .Params.photos.product_gallery }}
                                    {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
                                    {{ $resized := $imageResource.Fill "80x80 q80" }}
                                        <a data-w-tab="{{ . }}" style="background-image:url({{ $resized.RelPermalink }})" class="tab-link w-inline-block w-tab-link">
                                            <div class="gallery-thumb-overlay"></div>
                                        </a>
                                    {{ end }}
                            </div>
                        {{ else }}
                        <div class="tabs-menu w-tab-menu" style="display:none">
                            {{ range first 1 .Params.photos.product_gallery }}
                            <a data-w-tab="{{ . }}" style="background-image:url({{ . }})" class="tab-link w-inline-block w-tab-link w--current">
                                <div class="gallery-thumb-overlay"></div>
                            </a>
                            {{ end }}
                        </div>
                        {{ end }}
                    {{ else }}
                        <div class="tabs-menu w-tab-menu" style="display:none">
                            <a data-w-tab="tab-1" style="background-image:url({{ .Params.photos.main_image }})" class="tab-link w-inline-block w-tab-link w--current">
                                <div class="gallery-thumb-overlay"></div>
                            </a>
                        </div>
                    {{ end }}
                </div>
            </div>
            <div class="column-right w-col w-col-6">
                {{ $price := .Params.price }} {{ $sale := .Params.sale_price }}
                <h1 class="product-single-title">{{ .Title }}</h1>
                {{ if .Params.price }}<div class="price-single-page {{ if $sale }}sale{{ end }}">${{ lang.NumFmt 2 $price }}</div>
                {{ if $sale }}
                <div class="price-single-page">${{ lang.NumFmt 2 $sale }}</div>{{ end }}{{ end }}
                <p class="product-summary">{{ .Params.product_info.description }}</p>
                <!--product options-->
                <div class="w-form">
                    <form id="product-form">
                        {{ if .Params.Sizes }}<label for="Size">Size:</label>
                        <select id="Size" name="Size" data-name="Size" required="true" class="dropdown-selector w-select">
                            <option value="">Select one...</option>
                            {{ range .Params.Sizes }}
                            {{ $change := .price_change }}
                            <option value="{{ .size }}">{{ .size }}{{ if ge .price_change 1 }} ( +{{ lang.NumFmt 2 $change }} ){{ end }}{{ if le .price_change -1 }} ( {{ lang.NumFmt 2 $change }} ){{ end }}</option>
                            {{ end }}
                        </select>
                        {{ end }}
                        {{ range .Params.Variations }}
                            <label for="{{ .variant_name | urlize }}">{{ .variant_name }}</label>
                            <select id="{{ .variant_name | urlize }}" class="dropdown-selector w-select">
                                {{ range .options }}
                                {{ $change := .price_change }}
                                    <option value="{{ .option_name }}">{{ .option_name }}{{ if ge .price_change 1 }} ( +{{ lang.NumFmt 2 $change }} ){{ end }}{{ if le .price_change -1 }} ( {{ lang.NumFmt 2 $change }} ){{ end }}</option>
                                {{ end }}
                            </select>
                        {{ end }}
                        <label for="Size-2">Quantity:</label>
                        <input type="number" value="1" class="quantity-selection w-input" id="quantity" required="true" />
                        <div class="w-embed">
                            <a id="checkoutButton" class="add-to-cart w-button snipcart-add-item" data-item-id="{{ if .Params.Id }}{{ .Params.Id }}{{ else }}{{ .UniqueID }}{{ end }}"
                                data-item-name="{{ .Title }}" data-item-price="{{ if $sale }}{{ $sale }}{{ else }}{{ $price }}{{ end }}"
                                data-item-weight="{{ .Params.shipping.Weight }}" data-item-quantity="1" data-item-url="{{ .Permalink }}" data-item-image="{{ .Params.photos.Main_Image }}"
                                {{ if .Params.Sizes }}data-item-custom1-name="Size" data-item-custom1-value="" data-item-custom1-options="{{ range first 1 .Params.Sizes }}{{ .size }}{{ if ge .price_change 1 }}[+{{ .price_change }}]{{ end }}{{ if le .price_change -1 }}[{{ .price_change }}]{{ end }}{{ end }}{{ range after 1 .Params.Sizes }}|{{ .size }}{{ if ge .price_change 1 }}[+{{ .price_change }}]{{ end }}{{ if le .price_change -1 }}[{{ .price_change }}]{{ end }}{{ end }}"{{ end }}
                                    
                                {{ range $index, $element := .Params.Variations }}
                                    {{ $in := add $index 2 }}
                                    data-item-custom{{ $in }}-name="{{ .variant_name }}"
                                    data-item-custom{{ $in }}-options="{{ range first 1 .options }}{{ .option_name }}{{ if ge .price_change 1 }}[+{{ .price_change }}]{{ end }}{{ if le .price_change -1 }}[{{ .price_change }}]{{ end }}{{ end }}{{ range after 1 .options }}|{{ .option_name }}{{ if ge .price_change 1 }}[+{{ .price_change }}]{{ end }}{{ if le .price_change -1 }}[{{ .price_change }}]{{ end }}{{ end }}"
                                    data-item-custom{{ $in }}-value=""
                                {{ end }}
                                href="#">Add To Cart</a>
                        </div>
                    </form>
                </div>
                <!--end options-->
                <div class="accordian-wrap">
                    <div class="accordian-item">
                        <div class="accordian-trigger">
                            <h2 class="accordian-title">Details</h2>
                            <div data-w-id="aed57e5e-bca8-ba56-7b3d-26ccf1f76216" class="arrow-up"></div>
                            <div data-w-id="efb9f260-a16f-da9f-28f1-8bc3e9744cc5" class="arrow-down"></div>
                        </div>
                        <div data-w-id="2c832112-b19a-82ac-bfb9-e5f945e85bba" class="accordiant-inline-block">Product ID: {{ if .Params.Id }}{{ .Params.Id }}{{ else }}{{ .UniqueID }}{{ end }}</div>
                        <div data-w-id="dbdacc86-ffbe-d57f-8178-e54484606e38" class="accordian-content w-richtext">
                            {{ if .Params.product_info.details }}{{ .Params.product_info.details | markdownify }}{{ else }}<p>No additional details</p>{{ end }}
                        </div>
                    </div>
                    <div class="accordian-item">
                        <div class="accordian-trigger">
                            <h2 class="accordian-title">Shipping &amp; Returns</h2>
                            <div class="arrow-down"></div>
                            <div class="arrow-up"></div>
                        </div>
                        <div class="accordian-content w-richtext">
                            {{ if .Params.shipping.shipping_details }}
                                {{ .Params.shipping.shipping_details | markdownify }}
                            {{ else }}
                                <p>No specifics for shipping regarding this product.</p>
                                <p>For information regarding our shipping procedures visit our <a href="/faq"><b>faq page</b></a></p>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        {{ if .Params.related_products }}
        <h1 class="related-products-heading">Related Products</h1>
        <div class="w-dyn-list">
            <div class="product-grid-wrap w-dyn-items">
                {{ range .Params.related_products }}
                    {{ $product := replace . "/" "" }}
                    {{ range $.Site.RegularPages }}
                        {{ $file := add .Section .File.LogicalName }}
                        {{ if eq $file $product }}
                            {{ partial "product-grid-item" . }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ partial "footer.html" . }}